<configuration scan="true" scanPeriod="10 seconds">
<!--    управление логированием через JMX-->
    <jmxConfigurator />
<!--    аппендеры - куда писать логи-->
<!--    STDOUT пишет в консоль-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--    APP_LOG пишет в файл logs/application.log-->
    <appender name="APP_LOG" class="ch.qos.logback.core.FileAppender">
<!--        фильтр пропускает только сообщения уровня INFO-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <file>logs/application.log</file>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

<!--    уровень логирования INFO, пишет в файловый аппендер APP_LOG и в логи родителя-->
    <logger name="ru.otus.logging.ex02.LoggerConfigExample" level="info" additivity="true">
        <appender-ref ref="APP_LOG" />
    </logger>
<!--    корневой логгер, уровень INFO, использует консольный аппендер STDOUT-->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
